<html>
    <head>
        <link rel="stylesheet" href="indexhbs.css">
        <title>{{title}}</title>
    </head>
    <body>
        {{>index}}
        <h4>
            Hello user!Thanks for showing your interest on the weather app.The weather app is used for getting information about the current temperature of a given place along with the chances to rain and climatic conditions.You need to provide the address for the place in the given input field and submit your query and you will get the result back shortly. 
        </h4>
    </body>
</html>